.image-container img{
    width:100%;
    object-fit:content;
  }
  
  .main-container{
   max-width:992px !important; 
  }
  
  .fa-brands{
    font-size:24px;
    cursor:pointer;
    color:#121212;
  }
  
  .logo img{
    width:200px;
    cursor:pointer;
  }
  
.city{
margin-bottom:-4px;
}

a{
  color:#121212 !important;  
}
  

@media screen and (min-width:576px){
   .booking{
   margin-top:0px;
  }
  }